.shoppingCartProduct__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e7;
    
}

.shoppingCartProduct__wrapper img{
    width: 10%;
    
}

.nameNprice__wrapper {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    line-height: 30px;
}

.quantity {
    padding-right: 40px;
    width: 15%;
}

.cartButtons {
    display: flex;
    width: 30%;
}

.cartButtons button{
   width: 50%;
   height: 50px;
   margin: 0 3px; 
   background-color: #f7f7f9; 
   cursor: pointer;
}

.cartButtons i {
    font-size: 25px;
}

.cartButtons button:hover {
    background-color: #dbdbe0;
}

.delete{
    margin-left: 50px;
}

