.shoppingCartCheckout__wrapper {
    margin-left: 100px;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    font-size: large;
    font-weight: lighter;
}

.checkoutBtns button{
    padding: 15px;
    font-size: small;
    transition: ease-in;
    cursor: pointer;
}

.checkoutBtn {
    background-color: black;
    color: white;
}

.clearBtn {
    border: none;
    outline: none;
    background-color: white;
}





