*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;;
}

.App__wrapper {
    background:linear-gradient(160deg, #f3f3f3, #707172 60%, rgb(255, 255, 255) 60%, rgb(173, 171, 171));
}






